@font-face {
    font-family: JakarSans;
    src: url(fonts/PlusJakartaSans-Medium.ttf);
}

.bruh{
    color: #133040;
    color: #88a5b7;
    color: #d7da2e;
    color: #e3f4fc;
    color: #ebee97;
}

body{
    margin: 0;
    font-family: JakarSans;
    background-color: #e3f4fc;
}

.con{
    display: flex;
    justify-content: center;
    margin-top: 15vh;
}

.con-style{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 800px;
    height: 70vh;
    background-color: white;
    border-radius: 20px;
}

.right-section{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 360px;
    padding: 3vh 20px;
    height: 64vh;
    background-color: white;
    border-radius: 20px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0px;
}






.app-name-with-clear{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 360px;
}

.app-name{
    color: #133040;
    font-size: 20px;
    font-weight: bold;
}

.clear-all{
    color: #88a5b7;
    font-size: 15px;
    text-decoration: underline;
    transition: all .5s;
    cursor: pointer;
}

.clear-all:hover{
    color: #133040;
}

.mortgage-amount-title{
    display: flex;
    font-size: 14px;
    color: #88a5b7;
    margin-top: 40px;
    margin-bottom: 7px;
}

.mortgage-amount{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 360px;
    height: 35px;
    border: none;
    border-radius: 5px;
}

.mortgage-amount-text-box{
    width: 100%;
    padding-left: 40px;
    height: 33px;
    border: 1px solid #88a5b7;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all .5s;
}

.mortgage-amount-text-box:hover{
    border: 1px solid #133040;
}

.As-sign{
    display: flex;
    justify-content: center;
    align-items: center;
    width: max-content;
    padding: 0 10px;
    height: 35px;
    margin-left: 1px;
    background-color: #e3f4fc;
    color: #133040;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    position: absolute;
    transition: all .5s;
}




.term-rate-con{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 360px;
}

.term, .rate{
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.mortgage-term-title, .interest-rate-title{
    display: flex;
    font-size: 14px;
    color: #88a5b7;
    margin-top: 10px;
}

.mortgage-term, .interest-rate{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 160px;
    height: 35px;
    border-radius: 5px;
    transition: all .5s;
}

.mortgage-term-text-box{
    width: 100%;
    padding-left: 70px;
    height: 33px;
    border: 1px solid #88a5b7;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all .5s;
}

.interest-rate-text-box{
    width: 100%;
    padding-left: 45px;
    height: 33px;
    border: 1px solid #88a5b7;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    transition: all .5s;
}

.mortgage-term-text-box:hover, .interest-rate-text-box:hover{
    border: 1px solid #133040;
}

.years-sign, .B-sign{
    display: flex;
    justify-content: center;
    align-items: center;
    width: max-content;
    padding: 0 10px;
    height: 35px;
    margin-left: 1px;
    background-color: #e3f4fc;
    color: #133040;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    position: absolute;
}





.mortgage-type-con{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
}

.mortgage-type-title{
    display: flex;
    font-size: 14px;
    color: #88a5b7;
}

.repayment-type, .interest-type{
    display: flex;
    align-items: center;
    gap: 10px;
    width: 345px;
    padding-left: 15px;
    height: 35px;
    border: 1px solid #88a5b7;
    border-radius: 5px;
    cursor: pointer;
    transition: all .5s;
}

.repayment-type:hover, .interest-type:hover {
    border: 1px solid #d7da2e;
}

#repayment, #interest{
    appearance: none;
    width: 8px;
    height: 8px;
    background-color: transparent;
    outline: 2px solid #88a5b7;
    outline-offset: 3px;
    border-radius: 50%;
    transition: all .5s;
    cursor: pointer;
}



#repayment:checked ,#interest:checked{
    appearance: none;
    background-color: #d7da2e;
    outline: 2px solid #d7da2e;
}

.explain-type-text, .explain-type-text{
    font-size: 14px;
    color: #133040;
    font-weight: bold;
}


.img-btn{
    width: 20px;
}

.Calculate-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 250px;
    height: 45px;
    border: none;
    border-radius: 50px;
    background-color: #d7da2e;
    color: #133040;
    font-size: 14px;
    font-weight: 550;
    margin-top: 20px;
    cursor: pointer;
    transition: all .5s;
}

.Calculate-btn:hover{
    background-color: #ebee97;
}












.main-left-section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 360px;
    padding: 0 20px;
    height: 70vh;
    background-color: black;
    border-radius: 20px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 80px;
}

.left-section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 360px;
    padding: 0 20px;
    height: 70vh;
    background-color: #133040;
    border-radius: 20px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 80px;
}

.empty-calc-img{
    width: 160px;
}

.left-sec-head-text{
    color: white;
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.guide-text{
    color: #88a5b7;
    font-size: 13px;
}

.left-section-calc{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 360px;
    padding: 3vh 20px;
    height: 64vh;
    background-color: #133040;
    border-radius: 20px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 80px;
    position: fixed;
    opacity: 0;
    transition: all .5s;
}


.left-section-head-text{
    font-size: 20px;
    color: white;
}

.explain-result{
    text-align: start;
    font-size: 14px;
    color: #88a5b7;
    margin-top: 20px;
}

.results-con{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.results-con-style{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
    width: 320px;
    padding: 0 20px;
    height: 30vh;
    border-radius: 5px;
    background-color: #0e2431;
    border-top: 3.5px solid #d7da2e;
}

.result-head-text{
    font-size: 13px;
    color: #88a5b7;
    margin-top: 20px;
}

#month-payment{
    font-size: 35px;
    color: #d7da2e;
}

.line{
    width: 320px;
    height: 1px;
    background-color: #88a5b7;
    margin-top: 20px;
    margin-bottom: 20px;
}

.result-total-text{
    font-size: 13px;
    color: #88a5b7;
}

#total-payment{
    width: max-content;
    font-size: 18px;
    color: #FFF;
}











#Amount-error, #term-error, #rate-error, #type-error{
    color: #d73329;
    font-size: 12px;
    margin-top: 0px;
    opacity: 0;
    transition: all .5s;
}

















@media (max-width:820px) {
    
    .con{
        margin-top: 0vh;
    }
    
    .con-style{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: 160vh;
        background-color: white;
        border-radius: 0px;
    }
    
    .right-section{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        padding: 3vh 0px;
        height: 80vh;
        background-color: white;
        border-radius: 0px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0px;
    }
    
    .app-name-with-clear{
        width: 80%;
    }
    
    .mortgage-amount{
        width: 80%;
    }
     
    .term-rate-con{
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 50px;
        flex-wrap: wrap;
        width: 80%;
    }
    
    .mortgage-term{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 35px;
        border-radius: 5px;
        transition: all .5s;
    }

    .interest-rate{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 35px;
        border-radius: 5px;
        transition: all .5s;
    }
    
    .mortgage-term-text-box{
        width: 100%;
        padding-left: 70px;
        height: 33px;
        border: 1px solid #88a5b7;
        outline: none;
        border-radius: 5px;
        cursor: pointer;
        transition: all .5s;
    }
    
    .interest-rate-text-box{
        width: 100%;
        padding-left: 45px;
        height: 33px;
        border: 1px solid #88a5b7;
        border-radius: 5px;
        outline: none;
        cursor: pointer;
        transition: all .5s;
    }
    
    
    
    
    
    .mortgage-type-con{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
    }
    
    .repayment-type, .interest-type{
        display: flex;
        align-items: center;
        gap: 10px;
        width: 80%;
        padding-left: 15px;
        height: 35px;
        border: 1px solid #88a5b7;
        border-radius: 5px;
        cursor: pointer;
        transition: all .5s;
    }
    
    .Calculate-btn{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        width: 80%;
        height: 45px;
        border: none;
        border-radius: 50px;
        background-color: #d7da2e;
        color: #133040;
        font-size: 14px;
        font-weight: 550;
        margin-top: 20px;
        cursor: pointer;
        transition: all .5s;
    }
    
    .Calculate-btn:hover{
        background-color: #ebee97;
    }
    
    
    
    
    
    
    
    
    
    
    
    
    .main-left-section{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        width: 100%;
        padding: 0px 0px;
        height: 80vh;
        background-color: black;
        border-radius: 20px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 80px;
    }
    
    .left-section{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        width: 100%;
        padding: 0 0px;
        height: 80vh;
        background-color: #133040;
        border-radius: 0px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0px;
    }
    
    .empty-calc-img{
        width: 160px;
    }
    
    .left-section-calc{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 90%;
        padding: 0vh 5%;
        height: 80vh;
        background-color: #133040;
        border-radius: 0px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0px;
        position: absolute;
        opacity: 0;
        transition: all .5s;
    }
    
    
    .left-section-head-text{
        font-size: 20px;
        color: white;
        text-align: center;
    }
    
    .explain-result{
        text-align: start;
        font-size: 14px;
        color: #88a5b7;
        margin-top: 20px;
        text-align: center;
    }
    
    .results-con{
        display: flex;
        justify-content: center;
        margin-top: 50px;
        width: 100%;
    }
    
    .results-con-style{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        flex-direction: column;
        gap: 10px;
        width: 80%;
        padding: 0 20px;
        height: 40vh;
        border-radius: 5px;
        background-color: #0e2431;
        border-top: 3.5px solid #d7da2e;
    }
    
    .result-head-text{
        font-size: 13px;
        color: #88a5b7;
        margin-top: 20px;
    }
    
    #month-payment{
        width: max-content;
        font-size: 35px;
        color: #d7da2e;
    }
    
    .line{
        width: 90%;
        height: 1px;
        background-color: #88a5b7;
        margin-top: 20px;
        margin-bottom: 20px;
    }

}


@media (max-width: 350px) {
    
.app-name{
    font-size: 16px;
}

.clear-all{
    font-size: 12px;
}
    
}